*{
    font-family: Roboto, Merriweather;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr [firstn] 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 5em 5em 3em 3em 3em 3em 3em 1fr;
	grid-template-areas:
			"headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr"
			". . title title title title title title title title . ."
			". . firstname firstname_input firstname_input  . email email email_input email_input . ."
			". . lastname lastname_input lastname_input  . old_pass old_pass old_pass_input old_pass_input . ."
			". . floor floor_input floor_input  . new_pass new_pass new_pass_input new_pass_input . ."
			". . . . . . conf_pass conf_pass conf_pass_input conf_pass_input . ."
			". . . . . . fk_pref fk_pref fk_pref_input fk_pref_input . ."
			". . button button button . . . . . . ."
}
div label{
	margin-top: 10px
}
.firstname { grid-area: firstname; }

.lastname { grid-area: lastname; }

.floor { grid-area: floor; }

.email { grid-area: email; }

.old_pass { grid-area: old_pass; }

.new_pass { grid-area: new_pass; }

.conf_pass { grid-area: conf_pass; }

.fk_pref { grid-area: fk_pref; }

.fk_pref_input { grid-area: fk_pref_input; }

.header {
	grid-area: headerr;
	color: #002532 !important;

}


.firstname_input { grid-area: firstname_input; }

.lastname_input { grid-area: lastname_input; }

.floor_input { grid-area: floor_input; }

.email_input { grid-area: email_input; }

.old_pass_input { grid-area: old_pass_input; }

.new_pass_input { grid-area: new_pass_input; }

.conf_pass_input { grid-area: conf_pass_input; }

.buttons {
	grid-area: button;
	display: flex;
}

.header { grid-area: title; }

input[type=submit],input[type=button]{
	float: left;
	background-color: #66a5ad;
	color: white;
	padding: 8px 20px;
	border: none;
	cursor: pointer;
	margin: 4px 2px;
}
input[type=submit]:hover,input[type=button]:hover{
	opacity: 0.8;
	background-color: #107383;
}

@media screen and (max-width: 1000px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr [firstn] 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 5em 5em 3em 3em 3em 3em 1fr;
		grid-template-areas:
				"headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr"
				". title title title title title title title title title title ."
				". firstname firstname firstname_input firstname_input  . email email email_input email_input email_input ."
				". lastname lastname lastname_input lastname_input  . old_pass old_pass old_pass_input old_pass_input old_pass_input ."
				". floor floor floor_input floor_input  . new_pass new_pass new_pass_input new_pass_input new_pass_input ."
				". . . . . . conf_pass conf_pass conf_pass_input conf_pass_input conf_pass_input ."
				". button button button button . . . . . . ."
	}
}

@media screen and (max-width: 700px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr [firstn] 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 2em 4em 3em 3em 3em 3em 3em 3em 3em 3em;
		grid-template-areas:
				"headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr"
				". title title title title title title title title title title ."
				". firstname firstname firstname firstname firstname_input firstname_input firstname_input firstname_input firstname_input firstname_input ."
				". email email email email  email_input email_input email_input email_input email_input email_input ."

				". lastname lastname lastname lastname  lastname_input lastname_input lastname_input lastname_input lastname_input lastname_input ."
				". old_pass old_pass old_pass old_pass  old_pass_input old_pass_input old_pass_input old_pass_input old_pass_input old_pass_input ."

				". floor floor floor floor  floor_input floor_input floor_input floor_input floor_input floor_input ."
				". new_pass new_pass new_pass new_pass  new_pass_input new_pass_input new_pass_input new_pass_input new_pass_input new_pass_input ."

				". conf_pass conf_pass conf_pass conf_pass conf_pass_input conf_pass_input conf_pass_input conf_pass_input conf_pass_input conf_pass_input ."
				". . . . . button button button button button button ."
	}

}
