
.topnav select {
    float: left;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.topnav input[type="text"] {
    float: none;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.topnav  button{
    margin-right: 10px;
    text-align: center;
    width: auto;
    height: auto;
}

.topnav button:hover {
    background: #0b7dda;
}
