*{
    font-family: Roboto;
}

html, body {
    margin: 0px;
    background-color: #F5FAFA;
}
.grid-container {
    background-color: #F5FAFA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8em 30em 1fr;
    grid-template-areas:
            ". . Header Header Header Header Header Header Header Header . ."
            ". . search search table table table table table table . ."
            "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.h1 {
    padding-top: 20px;
    grid-area: Header;
    color: #002532!important;


}

.search {
    height: 10%;
    margin-right: 10px;
    border: none;
    grid-area: search;
}

.table-container {
    overflow-y: scroll;
    grid-area: table;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    background-color: #66a5ad;
    color: white;
    pointer-events: none;
    position: sticky;
    top:0;
}

footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
}




.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



#information-modal-content{
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

@media screen and (max-width: 1000px){

    .grid-container {
        background-color: #F5FAFA;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 8em 3em 250em 1fr;
        grid-template-areas:
                ". Header Header Header Header Header Header Header Header Header Header ."
                ". search search search search search . . . . . ."
                ". table table table table table table table table table table ."
                "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

@media screen and (max-width: 700px) {
    .grid-container {
        background-color: #F5FAFA;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 8em 3em 250em 1fr;
        grid-template-areas:
                ". Header Header Header Header Header Header Header Header Header Header ."
                ". search search search search search . . . . . ."
                ". table table table table table table table table table table ."
                "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}