*{
    font-family: Roboto;

}

html,body{
    background-color: #F5FAFA;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.grid-container {
    background-color: #F5FAFA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6em 8em 3em 4fr 4fr 1fr;
    grid-template-areas:
            ". title title title title title title title title title title ."
            ". list list  . tab tab tab tab tab tab tab ."". list list  .  date date date . . . . ."
            ". list list  . graph graph graph graph graph graph graph ."
            ". . . . graph graph graph graph graph graph graph ."
            "footer footer footer footer footer footer footer footer footer footer footer footer";

}
.footer{
    grid-area: footer;
}

.title{
    grid-area: title;
    padding-top: 20px;
    color: #003b46;
    font-size: 32px;
}

.container {
    border-style: solid;
    vertical-align: top;
    line-height:60px;
    background-color: #66a5ad;
    color: white !important;
    font-size: 26px;
    text-align: center;
    transition: all .2s ease-in-out;
}

/* Style the tab */
.tab {
    color: white;
    background-color: #66a5ad;
}
.date{
    grid-area: date;
    display: block;
    background-color: inherit;
}

.date button{
    min-width: 5em;
    background-color: #66a5ad;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white
}

.categories{
    grid-area: tab;
    overflow: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.categories button {
    min-width: 10em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #003b46;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.container:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

.list{
    grid-area: list;
}

.fa-check {
    display: none;
}

.graph{
    grid-area: graph;
    transition: all .3s ease-in-out;
}

.line {
    fill: none;
    stroke-width: 5px;
    stroke-opacity: 0.3;
}

.line:hover{
    stroke-opacity: 1;
    stroke-width: 10px;
}

@media screen and (max-width: 1000px){

    .grid-container {
        background-color: #F5FAFA;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 6em 6em 4fr 4fr 1fr;
        grid-template-areas:
                ". title title title title title title title title title title ."
                ". tab tab tab tab tab tab tab tab tab tab ."
                ". list list  graph graph graph graph graph graph graph graph ."
                ". list list graph graph graph graph graph graph graph graph ."
                "footer footer footer footer footer footer footer footer footer footer footer footer";

    }

}