*{
    font-family: Roboto;

}

html,body{
    background-color: #F5FAFA;
}

.area {
    fill: lightsteelblue;
    stroke-width: 0;
}

.grid-container {
    background-color: #F5FAFA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6em 4fr 1fr;
    grid-template-areas:
            ". title title title title title title title title title title ."
            ". list list  . graph graph graph graph graph graph graph ."
            "footer footer footer footer footer footer footer footer footer footer footer footer";

}
.footer{
    grid-area: footer;
}

.title{
    grid-area: title;
    padding-top: 20px;
    color: #003b46;
    font-size: 32px;
}

.container {
    border-style: solid;
    vertical-align: top;
    line-height:60px;
    background-color: #66a5ad;
    color: white !important;
    font-size: 26px;
    text-align: center;
    transition: all .2s ease-in-out;
}

.container:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

.list{
    grid-area: list;
}

.fa-check {
    display: none;
}

.graph{
    grid-area: graph;
    transition: all .3s ease-in-out;
}

.graph:hover{
    transform: scale(1.3);
    grid-area: graph;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}