*{
    font-family: Roboto;
}
html,body {
    background-color: #f5fafa;
    height: 100vh;
    width: 100%
}
body {
    margin: 0;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8em 8em 4em 2em 10em 10em;
    grid-template-areas:                    ". . title title title title title title title title . ."
                                                ". . quote quote quote quote quote quote quote quote . ."
                                        ". . btngrp btngrp btngrp btngrp btngrp btngrp btngrp btngrp . ."
                                        ". . noteheader noteheader noteheader noteheader clndrhdr clndrhdr clndrhdr clndrhdr . ."
                                        ". . notes notes notes . clndr clndr clndr clndr . ."
                                        ". . . . . . clndr clndr clndr clndr . .";
    grid-gap: 1em;
}



.clndrheader{
    grid-area: clndrhdr;
}

.notes{
    grid-area: notes;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.noteheader{
    margin-top: 0!important;
}

.newNote i{
    margin-top: 0!important;
}

.btn{
    width: 100%;
    background-color: #003B46;
    color: white;
    border-radius: 0;
    margin: 0 1em 0 0;
}

.googleCalendar{
    grid-area: clndr;
}

.title{
    padding-top: 3em;
    grid-area: title;
}

.quote {
    grid-area: quote;
    font-style: italic;
}

.quote h5{
    color: #66a5ad;
    opacity: 0.7;
}

.btn-group{
    grid-area: btngrp;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "1 2 3";
    grid-gap: 1em;
    height: 100%;
    max-width: 100%;
}
.btn-group .btn{
    min-width: 100%;
    background-color: #0c5460;
    font-size: x-large;
    color: white;
    border-radius: 0;
    margin: 0 1em 0 0;
}

.btn-group #1{
    grid-area: 1;
}

.btn-group #2{
    grid-area: 2;
}

.btn-group #3{
    grid-area: 3;
}

.btn:hover{
    background-color: #107383;
    opacity: 0.8 !important;
}

.footer {
    align-self: end;
    grid-area: footer;
    text-align: center;
}

@media screen and (max-width: 1000px){

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 8em 8em 4em 2em 15em 4em 1fr;
        grid-template-areas:                    ". title title title title title title title title title title ."
        ". quote quote quote quote quote quote quote quote quote quote ."
        ". btngrp btngrp btngrp btngrp btngrp btngrp btngrp btngrp btngrp btngrp ."
        ". clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr ."
        ". clndr clndr clndr clndr clndr clndr clndr clndr clndr clndr ."
        ". noteheader noteheader noteheader noteheader noteheader noteheader noteheader noteheader noteheader noteheader ."
        ". notes notes notes notes notes notes notes notes notes notes ."
        "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-gap: 1em;
    }
}

@media screen and (max-width: 700px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:  0.5fr 2em 15em 2em 8em 1fr;
        grid-template-areas:
                "headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr" ". clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr clndrhdr ."
        ". clndr clndr clndr clndr clndr clndr clndr clndr clndr clndr ."
        ". noteheader noteheader noteheader noteheader noteheader noteheader noteheader noteheader noteheader noteheader ."
        ". notes notes notes notes notes notes notes notes notes notes ."
        "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-gap: 1em;
    }

    .btn-group{
        display: none;
    }
    .quote{
        display: none;
    }
    .title{
        display: none;
    }

}



