*{
    font-family: Roboto;
}
html,body {
    background-color: #f5fafa;
    height: 100vh;
    width: 100%
}
body {
    margin: 0;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8em 8em 4em 2em 15em 15em 1fr;
    grid-template-areas:                    ". . title title title title title title title title . ."
                                                ". . quote quote quote quote quote quote quote quote . ."
                                        ". . btngrp btngrp btngrp btngrp btngrp btngrp btngrp btngrp . ."
                                        ". . noteheader noteheader noteheader noteheader clndrhdr clndrhdr clndrhdr clndrhdr . ."
                                        ". . notes notes notes notes clndr clndr clndr clndr . ."
                                        ". . . . . . clndr clndr clndr clndr . ."
                            "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-gap: 1em;
}

.noteheader{
    grid-area: noteheader;
}

.clndrheader{
    grid-area: clndrhdr;
}

.notes{
    grid-area: notes;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.existing{
    position:relative;
    height: 100%;
    margin: 0 0 0.5em 0;
    width: 100%;
}

.existing a{
     position:absolute;
     top: 3px;
     right:3px;
     width: 10px;
     background-color: #66a5ad;
 }

.existing input{
     position:absolute;
     bottom: 3px;
     left:3px;
     width: min-content;
    width: -moz-min-content;
     background-color: #003b46;
 }

.newNote .btn{
    width: 100%;
    background-color: #003B46;
    color: white;
    border-radius: 0;
    margin: 0.5em 1em 0 0;
}

.note{
    border: none;
    background-color: #66a5ad;
    height: 100%;
    width: 100%;
    padding: 2em 2em 1em 1em;
    resize: none;
}

.btn{
    width: 100%;
    background-color: #003B46;
    color: white;
    border-radius: 0;
    margin: 0 1em 0 0;
}

.googleCalendar{
    grid-area: clndr;
}

.title{
    padding-top: 3em;
    grid-area: title;
}

.quote {
    grid-area: quote;
    font-style: italic;
}

.quote h5{
    color: #66a5ad;
    opacity: 0.7;
}

.btn-group{
    grid-area: btngrp;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "1 2 3";
    grid-gap: 1em;
    height: 100%;
    width: 100%;
}
.btn-group .btn{
    min-width: 100%;
    background-color: #003B46;
    color: white;
    border-radius: 0;
    margin: 0 1em 0 0;
}

.btn-group #1{
    grid-area: 1;
}

.btn-group #2{
    grid-area: 2;
}

.btn-group #3{
    grid-area: 3;
}

.btn-group #4{
    grid-area: 4;
}



.footer {
    align-self: end;
    grid-area: footer;
    text-align: center;
}

@media screen and (max-width: 1085px){
    .btn-group .btn{
        padding: 0;
        min-width: min-content;
        min-width: -moz-min-content;
    }
}
@media screen and (max-width: 950px){
    .btn-group{
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
    }

    .btn-group .btn{
        width: 50%;
        margin: 0 0.2em 0.2em 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 8em 8em 4em 2em 15em 15em 1fr;
        grid-template-areas:                    ". . title title title title title title title title . ."
        ". . quote quote quote quote quote quote quote quote . ."
        ". . btngrp btngrp btngrp btngrp btngrp btngrp btngrp btngrp . ."
        ". . . . clndrhdr clndrhdr clndrhdr clndrhdr . . . ."
        ". . . . clndr clndr clndr clndr . . . ."
        ". . . . noteheader noteheader noteheader noteheader . . . ."
        ". . . . notes notes notes notes . . . ."
        "footer footer footer footer footer footer footer footer footer footer footer footer";
        grid-gap: 1em;
    }
}