html,body {
    height: 100%;
}

body {
    font-family: Verdana;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:"logo" "form" "footer";
    margin: 0;

}

.logo {
    height: 100%;
    grid-area:logo;
    background-color: #f1f1f1;
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
}


.form {
    grid-area: form;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 50%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
    align-content: center;
}

span.psw {
    padding-top: 16px;
    font-size: 12px;
}
footer{
    margin-bottom:0;
    grid-area:footer;
    text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

















