body{
    font-family: Verdana;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 5fr 1fr;
    grid-template-areas:
            "logo logo logo logo logo logo logo logo logo logo logo logo"
            ". . form form form form form form form form . ."
            ". . footer footer footer footer footer footer footer footer . .";
    width: 100vw;
    height: 100vh;
}

.logo,.form,#footer{
    text-align: center;
}

/*body {*/
    /*font-family: Verdana;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*margin: 0;*/
    /*flex-direction: column;*/
    /*width: 900px;*/
    /*align-items: center;*/

/*}*/


.logo{
    grid-area: logo;
    background-color: #94b7a0;
    grid-gap: 0;
    padding-top: 5em;
    padding-bottom: 1em;
    line-height: 3em;
}

.form {
    grid-area: form;
    padding-top: 3em;
    height: 100%;
}

#footer{
    grid-area: footer;

}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 32px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;

}

#loginResident{
    width: 100%;
    padding: 14px 0;
}

button:hover {
    opacity: 0.8;
}


.container {
    padding: 32px;
    align-content: center;
}

span.psw {
    padding-top: 16px;
    font-size: 12px;
}
footer{
    margin-bottom:0;
    text-align: center;
    font-size: 10px;
}

.modal{
    display: none;
    z-index: 1;
    padding-top: 150px;
    width: 100%;
    height: 100%;

}

.modal-header {
    display: block !important;
    align-items: center !important;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    button{
        margin: 7px;
    }

    input[type=text], input[type=password]{
        width: 80%;
        margin: 8px;
    }
    form{
        margin: 0 0 0 10%;
    }


    footer{
        width: 80%;
    }
}

















