html,body {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Verdana;
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.logo {
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: #003b46;
    color: white;
    width: 100%;
}

.form {
    height: 100%;
}

input[type=email], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

input[type=submit] {
    background-color: #66a5ad;
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    margin-top: 10px;


}

#loginResident{
    width: 100%;
    padding: 14px 0;
}

button:hover {
    opacity: 0.8;
}


.container {
    display: grid;
    grid-template-areas: "image login-form";
    grid-template-columns: 50% 50%;
}

.image{
    grid-area: image;
    margin: 20% 0 5% 5%;
}

#remyImg{

    width: 100%;

}

.login-form{
    grid-area: login-form;
    margin: 20% 5% 0 20%;
}

span.psw {
    padding-top: 16px;
    font-size: 12px;
}
footer{
    bottom:0;
    text-align: center;
    font-size: 10px;
    position: fixed;
}

.modal{
    display: none;
    z-index: 1;
    padding-top: 150px;
    width: 100%;
    height: 100%;

}

.modal-header {
    display: block !important;
    align-items: center !important;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    button{
        margin: 7px;
    }

    input[type=text], input[type=password]{
        width: 80%;
        margin: 8px;
    }
    form{
        margin: 0 0 0 10%;
    }


    footer{
        width: 80%;
    }
}

















