body {
    font-family: Verdana;
    background-color: #FBFFF9 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.6fr 3.4fr 1fr;
    grid-template-areas: "logo logo logo logo logo logo logo logo logo logo logo logo" "form form form form form form form form form form form form" ". ResidentButton ResidentButton ResidentButton ResidentButton ResidentButton ResidentButton ResidentButton ResidentButton ResidentButton ResidentButton ." ". . footer footer footer footer footer footer footer footer . .";
    width: 100vw;
    height: 100vh;
}

.logo, .form, #footer {
    text-align: center;
}

.logo {
    grid-area: logo;
    background-color: #94b7a0;
    grid-gap: 0;
    padding-top: 5em;
    padding-bottom: 1em;
    line-height: 3em;
}

.ResidentButton {
    grid-area: ResidentButton;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

}

.ResidentButton > div {
    font-size: 1.8em;
    margin: 1em;
}

.ResidentButton > div > form > button > img {
    width: 100%;
    height: 70%;
}

.ResidentButton > div > form > button {
    display: grid;
    grid-template-rows: 5fr 1fr;
    width: 100%;
    height: 100%;
    background-color: white;
}

.ResidentButton > div > form > button > p {
    color:black;
}

.ResidentButton > div > form {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#title {
    font-size: 5em;
}


.wrapper{
	text-align: center;
}

.center{
	display: inline-block;
}

#subtitle {
    font-size: 2.5em;
}

#roomNum {
    font-size: 2em;
}

.inputController {
    font-size: 2em;
    border: 1px solid black;
    margin-left: 0.5em;
}

#loginButton {
    font-size: 2em;
    margin-top: 0.5em;
}

#error {
    font-size: 2em;
    margin-top: 0.5em;
}

.form {
    grid-area: form;
    padding-top: 3em;
    height: 100%;
}

#footer {
    grid-area: footer;
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;

}

#footer > footer {
    text-align: center;
    font-size: 0.8em;

}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 32px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;

}

#loginResident {
    width: 100%;
    padding: 14px 0;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 32px;
    align-content: center;
}

span.psw {
    padding-top: 16px;
    font-size: 12px;
}

/*footer{*/
/*margin-bottom:0;*/
/*text-align: center;*/
/*font-size: 10px;*/
/*}*/

.modal {
    display: none;
    z-index: 1;
    padding-top: 150px;
    width: 100%;
    height: 100%;

}

.modal-header {
    display: block !important;
    align-items: center !important;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    button {
        margin: 7px;
    }

    input[type=text], input[type=password] {
        width: 80%;
        margin: 8px;
    }

    form {
        margin: 0 0 0 10%;
    }

    footer {
        width: 80%;
    }
}

.qrpicture{
    display: none;
    z-index: 1;
    position: absolute;
    opacity: 0.3;
    top: 250px;
    left: 20%;
    width: 60%;
    height: auto;
    animation: pulse 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

@keyframes pulsesolid {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.qrmarker{
    display: none;
    z-index: 1;
    position: absolute;
    top: 250px;
    left: 20%;
    width: 60%;
    height: auto;
    animation: pulsesolid 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

.explanation{
    font-size: 32px;
    text-align: center;
}

















