html,body {
    background-color: #F5FAFA;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

}

body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.grid-container {
    background-color: #F5FAFA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30em 1fr;
    grid-template-areas:
            ". image image image image image . log log log log ."
            "footer footer footer footer footer footer footer footer footer footer footer footer";
}


.login-form h1{
    margin-top: 0 !important;
}

.h1 {
    font-family: Merriweather !important;
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: #003b46;
    color: white;
    width: 100%;
}

.image {
    grid-area: image;
    margin-top: 20%;
}

#remyImg{
    width: 100%;
}

.login-form {
    grid-area: log;
    margin-top: 25%;
}

input[type=email],input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
}

input[type=submit],input[type=button]{
    background-color: #66a5ad;
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

input[type=submit]:hover,input[type=button]:hover{
    opacity: 0.8;
}

span.psw {
    padding-top: 16px;
    font-size: 12px;
}

.modal{
    display: none;
    z-index: 1;
    padding-top: 150px;
    width: 100%;
    height: 100%;

}

.modal-header {
    display: block !important;
    align-items: center !important;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1000px) {

    input[type=email], input[type=text], input[type=password]{
        width: 100%;
        margin: 8px 0 0 0;
    }

    #submitButtons{
        width: 100%;
    }

    input[type=submit] {
        background-color: #66a5ad;
        color: white;
        padding: 14px 0;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        width: 49%;
    }

    .image{
        display: none;
    }

    .login-form {
        margin-top: 25%;
        grid-column: 3 / 10;
    }

}

@media screen and (max-width: 650px) {

    main{
        margin:0 2%;
        width:auto;
    }

    input[type=email], input[type=text], input[type=password]{
        width: 100%;
        margin: 8px 0 0 0;
        padding: 12px 0 12px 0;
    }

    .image{
        display: none;
    }

    .login-form {
        margin-top: 25%;
        grid-column: 3 / 10;
    }

    input[type=submit],input[type=button] {
        background-color: #66a5ad;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 650px) {

    main {
        margin:0 2%;
        width:auto;
    }

    input[type=email], input[type=password]{
        width: 100%;
        margin: 8px 0 0 0;
        padding: 12px 0 12px 0;
    }

    .image{
        display: none;
    }

    .login-form {
        grid-column: 3 / 10;
    }

    input[type=submit],input[type=button] {
        background-color: #66a5ad;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        width: 100%;
    }


}