*{
    font-family: Roboto, Merriweather;
}

html,body{
    background-color: #F5FAFA;
}
.grid-container {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
	grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
	grid-template-areas:
			". . . . . . . . . . . ."
			". sectionTable sectionTable sectionTable sectionTable . questionTable questionTable questionTable questionTable questionTable ."
			". sectionTable sectionTable sectionTable sectionTable . questionTable questionTable questionTable questionTable questionTable ."
			". . . . . . . . . . . .";
}

.sectionTable { grid-area: sectionTable; }

.questionTable { grid-area: questionTable; }


.sectionTable, .questionTable {
	cursor: pointer;
}


#sTable,#qTable {
	border-collapse: collapse;
	width: 100%;
}

.sectionTable tr:nth-child(even),.questionTable tr:nth-child(even){background-color: #f2f2f2;}

.sectionTable tr:hover, .questionTable tr:hover{
	background-color: #ddd;
}

.sectionTable th, questionTable th {
	background-color: #66a5ad;
	color: white;
	pointer-events: none;
}
