*{
    font-family: Roboto, Merriweather;
}

html,body{
    background-color: #F5FAFA;
}


.grid-container {
    background-color: #F5FAFA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5em 5em 1.2fr 5em 1.2fr 1.2fr;
    grid-template-areas:
            "headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr"
            ". . section section section section section section section section . ."
            ". . section_input section_input section_input section_input section_input section_input section_input section_input . ."
            ". . question question question question question question question question . ."
            ". . question_input question_input question_input question_input question_input question_input question_input question_input . ."
            ". . buttons buttons . . . . . . . ."

}

.header { grid-area: headerr; }

.section{
    grid-area: section;
    align-self: center;
    color: #002532!important;

}

.section_input{ grid-area: section_input;}

.question{
    grid-area: question;
    align-self: center;
    color: #002532!important;

}

.question_input{
    grid-area: question_input;
}

.buttons{
    grid-area: buttons;
}

input[type=submit],input[type=button], .file-upload{
    float: left;
    background-color: #66a5ad;
    color: white;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
}

input[type=submit]:hover,input[type=button]:hover, .file-upload:hover {
    opacity: 0.8;
    background-color: #107383;

}

@media screen and (max-width: 700px) {
    .grid-container {
        background-color: #F5FAFA;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 5em 1.2fr 5em 1.2fr 1.2fr;
        grid-template-areas:
                "headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr headerr"
                ". section section section section section section section section section section ."
                ". section_input section_input section_input section_input section_input section_input section_input section_input section_input section_input ."
                ". question question question question question question question question question question ."
                ". question_input question_input question_input question_input question_input question_input question_input question_input question_input question_input ."
                ". buttons buttons buttons . . . . . . . ."

    }
}
