*{
    font-family: Roboto;

}

html,body{
    background-color: #F5FAFA;
}

.grid-container {
	background-color: #F5FAFA;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.2fr 0.2fr;
	grid-template-areas: ". . . title title title title title title . . ."
						 ". . . tab tab tab tab tab tab . . ."
						 ". . . nots nots nots nots nots nots . . ."
}

.title {
    grid-area: title;
    color: #003b46;
    margin-top: 20px;
    font-size: 32px;
    background-color: #F5FAFA;
}

.notification{
    display: grid;
    grid-template-columns: 0.05fr 0.3fr 500px 0.1fr ;
    grid-template-rows: 0.5fr;
    grid-template-areas:
            "icon date content read";
    background-color: #66a5ad;
    color: white!important;
    padding: 10px;
    font-size: 16px;
    text-decoration: none!important;
    transition: all .2s ease-in-out;
    border: solid;

}

.notif_container{
	text-decoration: none!important;
}

.tab-container {grid-area: tab; }

.tab {
	color: white;
	overflow: auto;
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	background-color: #66a5ad;
}


.nots {
	grid-area: nots;
	transition: all .3s ease-in-out;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	min-width: 50%;
    background-color: #66a5ad;
    color: white;
    float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #107383;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0c5460;
}

/* Style the tab content */
.tabcontent {
	display: none;
	border-top: none;
	position: relative;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
}

.notification:hover{
    background-color: #107383;
    transform: scale(1.05);
    display: grid;
}

.icon{
    display  :grid;
    grid-area: icon;
    text-align: center;
    color:white;
}

.date{
    display  :grid;
    grid-area: date;
    text-align: center;
    color:white;
}

.content{
    display  :grid;
    grid-area: content;
    text-align: center;
    color:white;
}

.read{
    display  :grid;
    grid-area: read;
    text-align: center;
    color:white;
}

.footer{
    display  :grid;
    grid-area: footer;
    color:#003b46;
    text-align: center;
}

.title{
    display  :grid;
    grid-area: title;
    color: #003b46;
    padding: 10px;
    font-size: 32px;
}

.listRow:hover{
    background-color: #83b6bc;
    transform: scale(1.05);
}

.listRow{
    border-style: solid;
    vertical-align:top;
    line-height:100px;
    background-color: #66a5ad;
    color: white!important;
    padding: 10px;
    font-size: 32px;
    text-align: left;
    text-decoration: none!important;
    transition: all .2s ease-in-out;
}


.material-icons.unread { color: #ffc107; }

.material-icons.read { color: #ffffff; }
