body{
    margin:0;
    font-family: Verdana;
    background-color: #FBFFF9
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4.5fr 2fr 1fr 1fr 0.5fr;
    grid-template-areas:
            "name name name name name name name name name name name name"
            ". praise praise praise praise praise praise praise praise praise praise ."
            ". . note note note note note note note note . ."
            ". . . . home home home home . . . ."
            "previous previous previous . . . . . . . . ."
            ". . footer footer footer footer footer footer footer footer . .";;
    width: 100vw;
    height: 100vh;
}


#name,#note,#praise,#home_btn,#previous_btn{
    text-align: center;
}

#name{
    grid-area: name;
    background-color: #94b7a0;
    height: 100px;
}


#name{
    font-size: 5em;
}

#praise{
    grid-area: praise;
    font-size: 3.5em;
    margin-top: 1em;
}


#note{
    grid-area: note;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#home{
    grid-area: home;
    text-align: center;
}

#home_btn{
    font-size: 2.5em;
    margin-top: 0.5em;
    background-color: #d48478;
}


#previous{
    grid-area: previous;
    text-align: center;
}

#previous_btn{
    background-color: #B1D4BE;
    color: rgba(0, 0, 0, 0.6);
    font-size: 2.5em;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

#footer{
    grid-area: footer;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
