body{
    font-family: Verdana;
    height: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            ". . . . logo logo logo logo . logout logout logout"
            ". questiontype questiontype questiontype questiontype questiontype questiontype . . . . ."
            ". progress_bar progress_bar progress_bar progress_bar progress_bar progress_bar progress_bar progress_bar progress_bar progress_bar ."
            ". question question question question question question question question question question ."
            ". . . . answers answers answers answers . . . ."
            ". . . . answers answers answers answers . . . ."
            ". . . . answers answers answers answers . . . ."
            ". . . . answers answers answers answers . . . ."
            ". . . . answers answers answers answers . . . ."
            ". previous previous . . . . . . . . .";
    width: 100vw;
    height: 100vh;
}

#logo{
    grid-area: logo;
    font-size: 5em;
    text-align: center;
    justify-self: center;
}


#logout{
    grid-area: logout;
    margin-top: 0.5em;
    margin-right: 0.5em;
    height: 2em;
    color: white;
    background-color: #d48478;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    font-size: 3em;
}

#logout:hover{
    background-color: indianred;
    cursor: pointer;
}

#questionType{
    grid-area: questiontype;
    font-size: 3.5em;
}

#progressbar{
    grid-area: progress_bar;
}

#question{
    grid-area: question;
    font-size: 4em;
    text-align: center;
}

#answers,footer{
    grid-area: answers;
    align-items: center;
    text-align: center;
}



#answers{
    overflow: hidden;
}

#answers input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}


#answers label {
    display: inline-block;
    margin-bottom: 1em;
    width: 4.5em;
    height: 1.5em;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 4.2em;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

#answers label:hover {
    cursor: pointer;
}

#answers input:checked + label {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none;
}



#previous{
    grid-area: previous;
    display: inline-block;
    margin-bottom: 0.5em;
    width: 4.5em;
    height: 2em;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}



#previous:hover{
    background-color: #A5DC86;
    cursor: pointer;
}
