body{
    display: flex;
    flex-direction: column;
    font-family: Verdana;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 4fr 1fr;
    grid-template-areas:
            "firstRow firstRow firstRow firstRow firstRow firstRow firstRow firstRow firstRow firstRow firstRow firstRow"
            "questionType questionType questionType questionType . . . . . . . ."
            "progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar progressbar"
            "question question question question question question question question question question question question"
            ". . . answers answers answers answers answers answers . . ."
            "previous previous previous . . . . . . . . . ";
    width: 100vw;
    height: 100vh;
}

#firstRow{
    grid-area: firstRow;
    background-color: #94b7a0;
    display: grid;
    width: 100%;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas: "dummy logo logout";
    align-items: center;
}

#firstRow #logo{
    background-color: #94b7a0;
    grid-area: logo;
    font-size: 6em;
    text-align: center;
    justify-self: center;
}


#firstRow button{
    margin-right: 1em;
    grid-area: logout;
    justify-self: right;
    /*width: 200px;*/
    height: 5em;
    color: white;
    background-color: #d48478;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    font-size: 3em;
}

#firstRow button:hover{
    background-color: indianred;
    cursor: pointer;
}

#questionType{
    grid-area: questionType;
    margin-top: 2em;
    margin-left: 5em;
    font-size: 4em;
}

#progressbar{
    grid-area: progressbar;
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

#question{
    grid-area: question;
    margin-top: 3em;
    font-size: 5em;
    text-align: center;
}

#answers,footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#answers {
    grid-area: answers;
    padding: 40em;
    overflow: hidden;
    margin-bottom: auto;
}

#answers input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1em;
    width: 1em;
    border: 0;
    overflow: hidden;
    margin: 3em;
}

#answers label {
    float: left;
}

#answers label {
    display: inline-block;
    margin: 0.5em;
    width: 4.5em;
    height: 1.5em;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6em 14em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1em 3em rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3em rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

#answers label:hover {
    cursor: pointer;
}

#answers input:checked + label {
    background-color: #A5DC86;
    -webkit-box-shadow: none;
    box-shadow: none;
}



#previous{
    grid-area: previous;
    display: inline-block;
    margin: 0.5em;
    width: 4.5em;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6em 14em;
    border: 1em solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1em 3em rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1em 3em rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}



#previous:hover{
    background-color: #A5DC86;
    cursor: pointer;
}

