body{
	font-family: Roboto !important;
    margin: 0;
    width: 100%;
}

html,body {
    background-color: #f5fafa;
}

/*************GRID CSS + VISUALISATION*************/

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: min-content min-content min-content 10em;
	grid-template-areas:
    ". picture picture picture	. visualisation visualisation visualisation visualisation visualisation visualisation ."
	". picture picture picture . visualisation visualisation visualisation visualisation visualisation visualisation ."
	". . . . . noteheader noteheader . . . print ."
	". info info info . hint hint hint . . . ."
}

.picture {
	grid-area: picture;
	margin-top: 10px;
}

.picture img{
	width: 100%;
}

.name {
	font-weight: bold;
	font-size: x-large;
}

.info {
	grid-area: info;
}

.total_score{
	grid-area: total;
}

.scores_per_category{
	grid-area: cat;
	margin-top: 1em;
}

.selectQuestionnaires{
	grid-area: select;
}

#total_score_bar,#total_score_label{
	grid-area: total;
}

.notes{
	grid-area: hint;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.visualisation {
	grid-area: visualisation;
	margin-top: 10px;
	border: none;
	background-color: white;
	padding: 1em 2em 1em 1em;
	resize: none;
	box-shadow:  0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 3em 3em auto ;
	grid-template-areas: "select select select . . ."
					     "total total total total . ."
							"graph graph graph graph . cat"
}

#chart{
	grid-area: graph;
}

.print {
	grid-area: print;
}

.score_per_category{
	margin: 0;
}

.chart {
	width: 10px;
	height: 10px;
}

.selectQuestionnaire{
	width: min-content;
	width: -moz-min-content;
}

/***********BUTTONS + PRINT************/
.btn{
	width: 100%;
	background-color: #003B46;
	color: white;
	border-radius: 0;
	margin: 0 1em 0 0;
}

button[type=submit]{
	background-color: #66a5ad;
	color: white;
	margin-top: 10px;
	padding: 14px 30px;
	border: none;
	cursor: pointer;
	width: 100%;
}

.fa-print{
	display: inline;
}


/*****MODALS******/
.modal{
	display: none;
}

.modal-header {
	display: block !important;
	align-items: center !important;
}

#modal-content{
	display: none;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}

.modal-footer {
    display: block !important;
    align-items: center !important;
}

.modal-footer .btn{
    background-color: #66a5ad;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.info-contact {
	margin: 10px 20px 10px 20px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#information-contactperson-modal-content{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}

#information-contactperson-modal-content{
	display: none;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;

}

#qr-modal-content{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}


/*OTHER SCREENS**/
@media print {
	.modal{
		display: block;
	}


	#information-contactperson-modal-content{
		display: inline;
		min-width: 400px;
		left: 20%;
		top: 60%
	}

	.fa-print{
		display: none;
	}
}

@media screen and (max-width: 1300px){

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
                ". picture picture picture picture picture . info info info info ."
                ". picture picture picture picture picture . info info info info ."
                ". visualisation visualisation visualisation visualisation visualisation visualisation visualisation visualisation visualisation visualisation ."
                ". noteheader noteheader noteheader noteheader . . . . . print ."
                ". hint hint hint hint . . . . . print ."

    }

    #information-contactperson-modal-content{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
    }
}

