body{
	font-family: Roboto !important;
    margin: 0;
    width: 100%;
}
html,body {
    background-color: #f5fafa;

}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: min-content min-content min-content min-content;
	grid-template-areas:
    ". picture picture picture	. visualisation visualisation visualisation visualisation visualisation visualisation ."
	". picture picture picture . visualisation visualisation visualisation visualisation visualisation visualisation ."
	". info info info . hint hint hint hint hint hint ."
	". . . . . . . . . . print ."
}
.picture {
	grid-area: picture;
	margin-top: 10px;
}

.picture img{
	width: 100%;
}

.info {
	grid-area: info;
}

.name {
	font-weight: bold;
	font-size: x-large;
}

.visualisation {
	grid-area: visualisation;
	margin-top: 10px;
	border: none;
	background-color: white;
	padding: 2em 2em 1em 1em;
	resize: none;
	box-shadow:  0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.chart {
	width: 10px;
	height: 10px;
}

.selectQuestionnaire{
	width: min-content;
	width: -moz-min-content;
}

.hint {
	grid-area: hint;
	border: none;
	display: inline-block;
	background-color: white;
    padding: 2em 2em 1em 1em;
    margin-top: 10px;
    box-shadow:  0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.print {
	grid-area: print;
}

button[type=submit]{
	background-color: #66a5ad;
	color: white;
	margin-top: 10px;
	padding: 14px 30px;
	border: none;
	cursor: pointer;
	width: 100%;
}

.fa-print{
	display: inline;
}

.modal{
	display: none;
}

.modal-header {
	display: block !important;
	align-items: center !important;
}

.modal-footer {
    display: block !important;
    align-items: center !important;
}

.modal-footer .btn{
    background-color: #66a5ad;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.info-contact {
	margin: 10px 20px 10px 20px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#information-contactperson-modal-content{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}


@media print {
	.modal{
		display: block;
	}
	#information-contactperson-modal-content{
		display: inline;
		min-width: 500px;
	}

	.fa-print{
		display: none;
	}
}