*{
    font-family: Roboto, Merriweather;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 8em 22em 1fr;
    grid-template-areas:
            ". . title title title title title title title title . ."
            ". . search search table table table table table table . ."
            "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.h1 {
    padding-top: 20px;
    font-family: Merriweather;
    grid-area: title;
}

.search {
    height: 10%;
    padding-right: 10px;
    grid-area: search;
}

.table {
    overflow-y: scroll;
    grid-area: table;
}

#myTable {
	width: 100%;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
	background-color: #66a5ad;
	color: white;
}

footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
}
