body {
    margin:0;
    font-family: Verdana;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.8fr 1fr 3.6fr 0.7fr 0.5fr;
    grid-template-areas:
            "header header header header header header header header header header header header"
            ". subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle subtitle ."
            ". description description description description description description description description description description ."
            ". . . logoimg logoimg logoimg logoimg logoimg logoimg . . ."
            ". . . . continue_btn continue_btn continue_btn continue_btn . . . ."
            ". . footer footer footer footer footer footer footer footer . .";
    width: 100vw;
    height: 100vh;

}

#header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . title title title title title title logout logout logout";
    width: 100vw;
    background-color: #94b7a0;
    font-size: 1.5em;
    /*padding-right: 1em;*/
}

#title{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    align-content: center;
    grid-area: title;
    font-size: 4em;
    text-align: center;
}

#logout{
    padding-top: 0.5em;
    background-color: #94b7a0;
    grid-area: logout;
    font-size: 2em;
    text-align: right;
    padding-right:0.5em;

}
#logoutbtn{
    height: 1.8em;
    color: white;
    background-color: #d48478;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    font-size: 1em;
}

#logout>button:hover{
    background-color: indianred;
    cursor: pointer;
}

#subtitle{
    padding-top: 0.5em;
    grid-area: subtitle;
    font-size: 4em;
    text-align: center;
}

#description{
    padding-top: 0.5em;
    grid-area: description;
    font-size: 4em;
    text-align: center;
}
#img{
    grid-area: logoimg;
    overflow: hidden;
}

#img>img{
    width:100%;
    height: 100%;
    overflow: hidden;

}

#continue{
    grid-area: continue_btn;
    align-content: center;
    padding-top: 1em;
    font-size: 2em;
    margin-left:auto;
    margin-right:auto;
}
#continuebtn{
    height: 1.5em;
    color: black;
    /*background-color: #A5DC86;*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
    font-size: 2em;
    align-text: center;
}
#footer{
    grid-area: footer;
    margin-top: 2em;
    margin-bottom: 1em;
}
