body {
    font-family: Verdana;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    grid-template-areas:
            ". . . . logo logo logo logo . logout logout logout"
            ". title title title title title title title title title title ."
            ". description description description description description description description description description description ."
            ". logoimg logoimg logoimg logoimg logoimg logoimg logoimg logoimg logoimg logoimg ."
            ". . . . continue_btn continue_btn continue_btn continue_btn . . . .";
    width: 100vw;
    height: 100vh;
}

#logo{
    grid-area: logo;
    font-size: 5em;
    text-align: center;
    justify-self: center;
}


#logout{
    grid-area: logout;
    margin-top: 0.5em;
    margin-right: 0.5em;
    height: 2em;
    color: white;
    background-color: #d48478;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    font-size: 3em;
}

#logout:hover{
    background-color: indianred;
    cursor: pointer;
}

#title{
    grid-area: title;
    font-size: 4em;
    text-align: center;
}
#description{
    grid-area: description;
    font-size: 4em;
    text-align: center;
}
#logoImg{
    grid-area: logoimg;
    width: 50em;
}


#continue{
    grid-area: continue_btn;
    align-self: center;
    height: 2em;
    color: black;
    background-color: #A5DC86;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 3em;
}

